

body{
    background-color: #f4f4f4;
}



    label {
    margin-bottom: 6px; 
   display: inline-block; 
  }
  fieldset {
       width: 600px; 
       padding: 10px; 
   }
   .experience-label {
 margin-bottom: 5px; 
}

   .gender-label {
       display: inline-block;
       margin-right: 0px;
      
   }
   .gender-input {
       margin-right: 10px; 
   }

   img{
    width: 500px;
    height: 100px;
    border: 5px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: block;
    margin: auto;
   
   }

   table {
    width: 75%;

    height: 120px;
    margin: 30px   auto  ; 
    border-collapse: collapse;
    

   }
   th {
    background-color: rgb(226, 44, 11);
    
   }
    th , td {
    border:1px solid black;
    margin-left: 5px;
    font-size: 20px;
    padding-left: 10px;
    
   }

   td{
    background-color:white;
   }

   table:hover{
    height: 250px;
    width: 1000 px;
    text-align: center;
}
   
   

   ul {
     list-style:  none;
     font-size: 20px;
     margin-left: 20px;
     
   }

   .About .special {
    color: rgb(159, 150, 194);
    font-size: larger;

   } 

   a {
    text-decoration: none;
    color: rgb(69, 5, 247);
  }

  h2 {
    
    text-align: left ;
    margin-top: 70px;
    
  }

  h1{
    text-align: center;
     width: 95%;
     margin: 70px  auto;
  }

  h1 ,h2 {
    background-color: rgb(196, 10, 10);
    height: 50px;
    
    padding-top: 5px;
    padding-left: 10px;
    box-shadow: 5px 5px 40px  rgba(36, 34, 34, 0.9); 

  }

  
   .About{
    
    margin-left: auto;
    margin-right: auto;

    width: 600px;
    height: 150px;

    padding: 10px 30px;

   background-color: white;

   font-size: large;

   background-attachment: fixed;
   
   border: 6px;
   border-color: rgba(209, 20, 20, 0.336);
   border-style: solid ; 
   border-width: 10px;
   border-radius: 10px;
   line-height: 1.4;
   font-size: 18px;
   
   }
   .About:hover {
    height: 250px;
    width: 700px;
    text-align: center;
    
}



   .form { 
    background-color: white;
    padding: 30px;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
     box-shadow: 5px 5px 40px  rgba(138, 121, 121, 0.9); 
   
   
   }

   .form input[name="message"] ,  input[ type="email"]  ,  input[type="text" ] , select  {
    width: 70%;
     height: 30px;
    color: rgb(12, 12, 12);
    margin: 2pxpx;
    
    
   
   }

   .form input[type="submit"]{
    background-color: red;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-left :  20px;
   }

   textarea{
    border-radius: 8px;
   } 



  

   

